.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(1300px) rotateX(10deg) translateY(-20px);
    border: 1px solid transparent;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: transparent;
}

.cell {
    border: 1px solid red;
}
